.home {
  overflow: hidden;
  padding-top: 200px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  &__container {
    position: relative;
    height: 100%;
  }

  &__body {
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include medium-tablet {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__content {
    flex: 1 1 50%;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 22px;
    line-height: 130%;
  }

  &__title {
    @include mobile {
      font-size: 30px;
    }
  }

  &__letter {
    display: inline-block;
  }

  &__foto {
    flex: 1 1 50%;
    overflow: hidden;
    transform: translate(30%, 10%);

    @include medium-tablet {
      flex: 1 1 100%;
      transform: translateX(0);
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
    }
  }

  @include medium-tablet {
    padding-top: 120px;
  }
}

.icon-down {
  position: absolute;
  left: 50%;
  bottom: 0px;
	height: 60px;
	width: 30px;
	border: 2px solid $lochinvar-color;
	border-radius: 60px;
  transform: translateX(-50%);

	&::before {
    content: '';
		position: absolute;
		top: 10px;
		left: 50%;
		width: 10px;
		height: 10px;
		transform: translateX(-50%);
		background-color: $roseFog-color;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
	}

  @include medium-tablet {
    display: none;
  }
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

//анимация подсветки текста
$flick-big-text-shadow:
  0 0 2px #fff,
  0 0 4px #fff,
  0 0 8px #fff,
  0 0 15px $lochinvar-color,
  0 0 30px $lochinvar-color,
  0 0 40px $lochinvar-color,
  0 0 70px $lochinvar-color,
  0 0 100px $lochinvar-color;
$flick-small-text-shadow:
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 5px #fff,
  0 0 11px $lochinvar-color,
  0 0 20px $lochinvar-color,
  0 0 30px $lochinvar-color,
  0 0 55px $lochinvar-color,
  0 0 80px $lochinvar-color;

.home__title {
  animation: flicker .5s infinite alternate 6s;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: $flick-big-text-shadow;
  }
  20%, 24%, 55% {
    text-shadow: $flick-small-text-shadow;
  }
}

@media screen and (prefers-reduced-motion) {
  .home__title {
    animation: none;
  }
}