<section class="about section" id="about">
  <div class="about__container container">
    <h2 class="about__title title-reset" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="500">Немного обо мне:</h2>
    <div class="about__text">
      <p data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1000" data-swiper-parallax-x="-1000"> Я начинающий веб разработчик. Я не проходил никаких платных курсов. Всю остальную информацию брал из
        бесплатных ресурсов: книг, ютуба, документаций, гуглил; что и продолжаю делать. К сфере большой интерес в первую
        очередь не из-за большой зарплаты и прочих сказок про IT в целом, а потому что хочется учавствовать в создании
        реально классных и полезных проектов.</p>

      <p data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1000" data-swiper-parallax-x="1000">
        В идеале хочется попасть в команду, в которой люди будут заинтересованы во мне как в специалисте и в человеке, и
        будут готовы делиться опытом, критиковать, давать правильное направление. А я в свою очередь с полной отдачей
        работать и повышать свои профессиональные и личные качества, а так же помогать коллегам.
        Релокация интересна, но не стоит в приоритете.
      </p>
    </div>
    <div class="about__stack" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="2000" data-swiper-parallax-y="-500">
      <span class="about__stack--text-unaltered">Технологии, которыми я владею:</span>
      <span class="about__stack--text-animated"></span>
    </div>
  </div>
</section>