<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo">
      <img src="img/logo.svg" alt="логотип">
    </a>
    <nav class="header__nav nav" title="меню" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <span class="nav__item--bg"></span>
          <a href="#home" class="nav__link" data-scroll>главная</a>
        </li>
        <li class="nav__item">
          <span class="nav__item--bg"></span>
          <a href="#about" class="nav__link" data-scroll>обо мне</a>
        </li>
        <li class="nav__item">
          <span class="nav__item--bg"></span>
          <a href="#project" class="nav__link" data-scroll>проекты</a>
        </li>
        <li class="nav__item">
          <span class="nav__item--bg"></span>
          <a href="#contact" class="nav__link" data-scroll>контакты</a>
        </li>
      </ul>
    </nav>
    <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="first" id="class"></span>
      <span class="second" id="class"></span>
      <span class="third" id="class"></span>
    </button>
  </div>
</header>

