<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">

  <meta name="description" content="Мой сайт - портфолио">
  <meta name="author" content="Sasha Pyankov">
  <meta name="image" content="img/logo.svg">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Мой сайт - портфолио">
  <meta property="og:description" content="Мой сайт - портфолио">
  <meta property="og:image" content="img/logo.svg">
  <meta name="msapplication-TileImage" content="img/logo.svg">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <title>site-portfolio</title>
  
  <link rel="preload" href="fonts/MulishLightItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/MulishLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/MulishMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/MulishExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
