<section class="project section" id="project">
  <div class="project__container">
    <div class="swiper project__swiper">
      <div class="slide__control">
        <div class="swiper-pagination showcaseSlider-pagination"></div>

        <div class="showcaseSlider-nav slide__btn">
            <a href="#" class="swiper-button-prev showcaseSlider-prev">
              <svg class="slide__arrow-icon">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
            <a href="#" class="swiper-button-next showcaseSlider-next">
              <svg class="slide__arrow-icon">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
        </div>
      </div>
      <h2 class="project__title title-reset container">Мои проекты:</h2>
      <div class="swiper-wrapper">
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">vektor</h2>
                <h2 class="slide__title title title-reset slide__title--text">vektor</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
                <img src="img/about/icons-js.svg" alt="js">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/vektor-object.webp" type="image/webp">
              <img loading="lazy" src="img/project/vektor-object.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - vektor">
            </picture>
          </div>
        </div>
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">agropropark</h2>
                <h2 class="slide__title title title-reset slide__title--text">agropropark</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-figma.svg" alt="figma">
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
                <img src="img/about/icons-sass.svg" alt="sass">
                <img src="img/about/icons-js.svg" alt="js">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/agropropark.webp" type="image/webp">
              <img loading="lazy" src="img/project/agropropark.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - agropropark">
            </picture>
          </div>
        </div>
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">bootstrap</h2>
                <h2 class="slide__title title title-reset slide__title--text">bootstrap</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-figma.svg" alt="figma">
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
                <img src="img/about/icons-sass.svg" alt="sass">
                <img src="img/about/icons-js.svg" alt="js">
                <img src="img/about/icons-bootstrap.svg" alt="bootstrap">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/bootstrap.webp" type="image/webp">
              <img loading="lazy" src="img/project/bootstrap.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - bootstrap">
            </picture>
          </div>
        </div>
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">trinity</h2>
                <h2 class="slide__title title title-reset slide__title--text">trinity</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-figma.svg" alt="figma">
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
                <img src="img/about/icons-sass.svg" alt="sass">
                <img src="img/about/icons-js.svg" alt="js">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/trinity.webp" type="image/webp">
              <img loading="lazy" src="img/project/trinity.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - trinity">
            </picture>
          </div>
        </div>
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">parallax-gallary</h2>
                <h2 class="slide__title title title-reset slide__title--text">parallax-gallary</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/parallax-gallary.webp" type="image/webp">
              <img loading="lazy" src="img/project/parallax-gallary.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - parallax-gallary">
            </picture>
          </div>
        </div>
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">tabs-slider</h2>
                <h2 class="slide__title title title-reset slide__title--text">tabs-slider</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-figma.svg" alt="figma">
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
                <img src="img/about/icons-sass.svg" alt="sass">
                <img src="img/about/icons-js.svg" alt="js">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/tabs-slider.webp" type="image/webp">
              <img loading="lazy" src="img/project/tabs-slider.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - tabs-slider">
            </picture>
          </div>
        </div>
        <div class="swiper-slide project__slide slide">
          <div class="slide__body">
            <div class="slide__content">
              <div class="slide__title-body" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800" data-swiper-parallax-y="1000">
                <h2 class="slide__title title title-reset slide__title--shadow">test_Tzeezotje</h2>
                <h2 class="slide__title title title-reset slide__title--text">test_Tzeezotje</h2>
              </div>
              <p class="slide__descr" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700" data-swiper-parallax="-1000">
                <span class="slide__descr-tehnolog">Технологии:</span>
                <img src="img/about/icons-figma.svg" alt="figma">
                <img src="img/about/icons-html.svg" alt="html">
                <img src="img/about/icons-css.svg" alt="css">
                <img src="img/about/icons-sass.svg" alt="sass">
                <img src="img/about/icons-js.svg" alt="js">
                <img src="img/about/icons-gulp.svg" alt="gulp">
              </p>
              <a class="slide__link" href="projects.html">
                <span>подробнее</span>
                <svg class="slide__arrow-icon">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <picture>
              <source srcset="img/project/test_Tzeezotje.webp" type="image/webp">
              <img loading="lazy" src="img/project/test_Tzeezotje.png" class="slide__image image" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900" data-swiper-parallax-scale="0.15" alt="проект - test_Tzeezotje">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>