$font-family: "Mulish", sans-serif;

$content-width: 1300px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

$light-color: #fff;
$black-color: #080808;
$lochinvar-color: #2d9687;
$roseFog-color: #e2b8aa;
$porsche-color: #e9b171;
$redViolet-color: #c22085;
$balticSea-color: #26252a;
$bigStone-color: #111b36;
